$bg-color: #fff;
$color: #111;
$font-size: 16px;
$font-weight: 500;

.container {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  padding-left: 14px;
  border: none;
  box-sizing: border-box;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(147, 153, 210, 0.56);
    &:not(:focus-visible) {
      box-shadow: none;
    }
  }
  &[disabled] {
    cursor: not-allowed;
    color: #adaeb6;
  }
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 50px;
}
